.style-top{
    margin-top: 5%;
}

.input-style{
    height: 25px;
    padding: 3px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
  }
  
  .close-button {
    float: right;
    width: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.75rem;
    background-color: #ef2319;
    color: aliceblue;
    position: relative;
    /* margin-right: -18%; */
    margin-left: 100%;
    margin-top: -8%;
  }
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
  }
  .close-button {
    float: right;
    width: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.75rem;
    background-color: #ef2319;
    color: aliceblue;
    position: relative;
    margin-right: -7%;
    /* margin-left: 100%; */
    margin-top: -8%;
  }
  .close-button:hover {
    background-color: #c4140b;
  }
  .show-modal {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  .date-list{
    margin: 20px;
  }
  .user-List{
    margin: 10px;
    cursor: pointer;
  }